$nice-dates-color-gray-dark: #e44500;
$nice-dates-color-gray: #e44500;
$nice-dates-color-gray-light: #e44500;
$nice-dates-color-accent: $nice-dates-color-gray-dark;
$nice-dates-font-size-small: 12px;
$nice-dates-font-size-base: 14px;
$nice-dates-font-size-big: 16px;

@import "react-nice-dates/src/style.scss";

@import url(https://fonts.googleapis.com/css?family=Quicksand:200,300,400,700);

$headings-font-family: Quicksand;
$primary: #ff550b;
$secondary: #303030;
$success: #015668;
$danger: #ff304f;
$info: #0f81c7;
$warning: #0de2ea;
$light: #e8e8e8;
$dark: #000000;
$enable-gradients: false;
$spacer: 1rem;
$border-width: 1px;
$btn-border-radius: 0.25rem;
$carousel-control-color: #000000;
$carousel-indicator-active-bg: #000000;

@import "bootstrap/scss/bootstrap.scss";

.timeslot-select {
  &.active {
    border: 1px solid $primary !important;
    background-color: $primary !important;
  }
  &:hover {
    border: 1px solid $primary !important;
    background-color: $primary !important;
  }
}
