@import url(https://fonts.googleapis.com/css?family=Quicksand:200,300,400,700);

$headings-font-family: Quicksand;
$primary: #ff550b;
$secondary: #303030;
$success: #4db193;
$danger: #ff304f;
$info: #0f81c7;
$warning: #0de2ea;
$light: #fff9f7;
$dark: #000000;
$enable-gradients: false;
$spacer: 1rem;
$border-width: 1px;
$btn-border-radius: 0.25rem;
$carousel-control-color: #000000;
$carousel-indicator-active-bg: #000000;

@import "bootstrap/scss/bootstrap.scss";

.timeslot-select {
  &.active {
    border: 1px solid $primary !important;
    background-color: $primary !important;
  }
  &:hover {
    border: 1px solid $primary !important;
    background-color: $primary !important;
  }
}

$nice-dates-color-gray-dark: $secondary;

.nice-dates-day {
  &.-selected {
    &:before {
      background-color: $primary;
    }
    &:hover {
      &:after {
        border: 2px solid $primary;
      }
    }
  }
  &:hover {
    &:after {
      border: 2px solid $primary;
    }
  }
}

@import "react-nice-dates/src/style.scss";

.hoverPrimary {
  &:hover {
    color: #fff;
    background-color: $primary;
  }
}

._2Jtxm.stepDone ._2kL0S {
  color: #fff !important;
  background-color: $success !important;
}

._2Jtxm.stepDone._35Ago ._2kL0S {
  color: #fff !important;
  background-color: $success !important;
}

._2Jtxm._35Ago ._2kL0S {
  background-color: $primary !important;
}
